 {
  :templates {
             :alfred "osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""
             }
  
  :layers {
  :caps-mode {:key :caps_lock :alone {:key :escape}}
;;   :w-mode {:key :w} ; mode for opening files and programs
   }

  :main

  [{:des "main profile"
    :rules [; some comment
            ;; [:left_command  :left_command nil  {:alone :!Cd}]
                ;;   [{:key :spacebar :modi :left_shift} [:spacebar :0 :spacebar]]
                  ; remap   
            ]}
   {:des "capslock layer"
    :rules [; some comment
            :caps-mode
            ; VIM MOVE COMMANDS WHEN CAPSLOCK IS PRESSED
            [:##j :down_arrow]
            [:##h :left_arrow] ; ## means you can press things together
            [:##k :up_arrow]
            [:##l :right_arrow]

            [:##f :left_option]
            [:##d :left_shift]
            [:s :!CS2] ;  activate shotr area command. 
            ; RECTANGLE APP COMMANDS
            [:m :!OTreturn_or_enter] ; Rectangle maximize
            [:comma :!OTleft_arrow] ;left half
            [:period :!OTright_arrow] ; right half
            [:q :!OTd] ; Left third
            [:w :!OTf] ; Middle third
            [:e :!OTg] ; Right third




            ]}
   {:des "wkey (apps)"
         :rules [:w-mode
                 [:e [:km "open: Fantastical"]]
                 [:p [:km "open: Keyboard Maestro"]]
                 [:p [:km "open: Postgres"]]
                 [:f [:km "open: Finder"]]
                 [:l [:km "open: VS Code"]]
                 [:c [:km "open: Spotify"]]
                 [:j [:km "open: Warp"]]
                 [:o [:km "open: Obsidian"]]
                 [:k [:km "open: Chrome"]]
                 [:semicolon [:km "open: ChatGPT"]]
                 
                ;;  [:d [:km "open: TablePlus"]] ;[:d [:km "open: Postico"]]
                ;;  [:q [:km "open: GraphQL"]]
                ;;  [:r [:km "open: Notion"]]
                ;;  [:t [:km "open: Activity Monitor"]]
                 ;[:i [:km "open: Instruments"]]
                ;;  [:i [:km "open: "]]
                 ;[:i [:km "open: Dropcode"]]
                ;;  [:i [:km "open: SnippetsLab"]]
                ;;  [:f [:km "open: 2Do"]]
                 ;[:g [:km "open: Height"]]
                ;;  [:g [:km "open: Things"]]
                ;;  [:h [:km "open: Zen"]]
                 ;[:g [:km "open: Linear"]]
                 ;[:h [:km "open: Safari Technology Preview"]]
                 ;[:h [:km "open: Android Emulator"]]
                ;;  [:k [:km "open: Safari"]]
                ;;  [:semicolon [:km "open: Xcode"]]
                ;;  [:quote [:km "open: Console"]]
                 ;[:v [:km "open: HTTPie"]]
                ;;  [:v [:km "open: Paw"]]
                ;;  [:b [:km "open: BetterTouchTool"]]
                ;;  [:n [:km "open: Sublime Text"]]
                ;;  [:m [:km "open: Sublime Merge"]]
                ;;  [:comma [:km "open: Proxyman"]]
                ;;  [:period [:km "open: Cypress"]]]} 
            
            ]}
  ]
  }